<!DOCTYPE html>

 <html>
 	<head>

 		<title>My Bears</title>

		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">

 		<link rel="stylesheet" href="main.css">

 	</head>	

 	<body>
		<div class="container">
		<div class="jumbotron">
            <div class="container">
            <h1>My Bears</h1>
            <table class="table table-hover">
                <thead>
                    <h3>My Bears Table</h3>
                    <tr>
                        <th>Name</th>
                        <th>Age</th>
                        <th>Gender</th>
                    </tr>
                </thead>
                <tbody>
                    <% for( var i = 0; i < bears.length; i++) { %>
                    <tr>

                        <td> <%= bears[i].name %> </td>
                        <td> <%= bears[i].age %> </td>
                        <td> <%= bears[i].gender %> </td>
                        <td><button class="btn btn-warning deleteBear">Delete</button></td>
                        
                    </tr>
                    <% } %>
                </tbody>

                



            </table>
               	<p>
                	<a class="btn btn-primary btn-lg btn-primary" href="/">Home</a>
                    <a class="btn btn-primary btn-lg btn-primary" href="bears">Bears</a>
                    <a class="btn btn-primary btn-lg btn-info" href="about">About Page</a>
            	</p>
        	</div>
   		</div>
   		</div>

        <div class="container">
            <form action="/api/bears" method="POST" class="form-horizontal" role="form">
                    <div class="form-group">
                        <legend>Enter Bears Here:</legend>
                    </div>

                    <div class="form-group">
                         <input type="text" name="name" id="name" class="form-control" value="" required="required"   placeholder="Name">
                    </div>

                     <div class="form-group">
                        <input type="number" name="age" id="age" class="form-control" value="" required="required"   placeholder="Age">
                    </div>  

                     <div class="form-group">
                       <input type="text" name="gender" id="gender" class="form-control" value="" required="required"   placeholder="Gender"> 
                    </div>      

                                  
                    <div class="form-group">
                        <div class="col-sm-10 col-sm-offset-2">
                            <button type="submit" class="btn btn-primary">Submit</button>
                        </div>
                    </div>

                    <div class="form-group">
                        
                    </div>

            </form>
        </div>

        
        <script src=https://code.jquery.com/jquery-2.2.0.js></script>

        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
    
        <script src="server.js"></script>

    </body>

 </html>
