<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    

    <title>The Blog</title>

    <!-- Bootstrap core CSS -->
    <link href="../css/bootstrap.css" rel="stylesheet">

    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <link href="../../assets/css/ie10-viewport-bug-workaround.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="../css/style.css" rel="stylesheet">

    </head>

  <body>
	<header>
		<div class="container">
			<div class="row">
				<div class="col-md-6">
					<img class="logo" src="../img/blog_title_jellesed.png" alt="theBlog">
				</div>
				<div class="col-md-6">
	
				</div>
			</div>
		</div>		
	</header>

	<div class="container container-main">
		
		<!-- this is including the partial navbar --> 
		<%- include ./partials/navbar.ejs %>

		
		<div class="row">
			<div class="col-md-8">
				<div class="well">
					<h2>Contact Me</h2>

				<form>
				  <div class="form-group">
				    <label>Name</label>
				    <input type="text" class="form-control">
				  </div>
				  <div class="form-group">
				    <label>Email address</label>
				    <input type="email" class="form-control">
				  </div>
				  <div class="form-group">
				    <label>Message</label>
				    <textarea class="form-control"></textarea>
				  </div>
				  <button type="submit" class="btn btn-default">Submit</button>
				</form>

				<br><br>

				<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3861.4848006006937!2d-114.0360361335913!3d46.8156468232618!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x535dd28e42d82409%3A0xe5661247f8cfff88!2s5805+Mainview+Dr%2C+Missoula%2C+Mt+59803!5e0!3m2!1sen!2sus!4v1456378568529" width="700" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
					
				</div>

			</div>
			<div class="col-md-4">
				<div class="well">
					<h4>Blog Search</h4>
					<div class="input-group">
						<input type="text" class="form-control">
						<span class="input-group-btn">
							<button class="btn btn-default" type="button">
								<span class="glyphicon glyphicon-search"></span>
							</button>
						</span>
					</div>
				</div>

				<div class="well">
					<h4>Categories</h4>
					<div class="row">
						<div class="col-md-6">
							<ul class="list-unstlyed">
								<li><a href="#">Category Name</a>
								</li>
								<li><a href="#">Category Name</a>
								</li>
								<li><a href="#">Category Name</a>
								</li>
								<li><a href="#">Category Name</a>
								</li>
							</ul>
						</div>
						<div class="col-md-6">
							<ul class="list-unstlyed">
								<li><a href="#">Category Name</a>
								</li>
								<li><a href="#">Category Name</a>
								</li>
								<li><a href="#">Category Name</a>
								</li>
								<li><a href="#">Category Name</a>
								</li>
							</ul>
						</div>
					</div>
				</div>
				<div class="well">
					<h4>Sidebar Widget</h4>
					<p>Raw denim salvia readymade, truffaut microdosing pitchfork locavore tumblr bushwick. Semiotics franzen +1, swag kinfolk pabst fanny pack austin four loko. Artisan thundercats fingerstache mixtape. Butcher organic iPhone gluten-free, franzen cornhole sartorial.</p>
				</div>

				<p>
					<a class="btn btn-primary btn-lg btn-primary" href="/">Home</a>
                	<a class="btn btn-primary btn-lg btn-primary" href="blogPosts">Blog Posts</a>
                	<a class="btn btn-primary btn-lg btn-info" href="about">About Page</a>
                	<a class="btn btn-primary btn-lg btn-info" href="contact">Contact</a>					
				</p>

			</div>		
		</div>
	</div>



    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script>window.jQuery || document.write('<script src="../../assets/js/vendor/jquery.min.js"><\/script>')</script>
    <script src="../js/bootstrap.js"></script>
    <script src="../js/main.js"></script>

  </body>
</html>

