<!DOCTYPE html>

 <html>
 	<head>

 		<title></title>

		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">

 		<link rel="stylesheet" href="main.css">

 	</head>	

 	<body>

		<div class="jumbotron">
        <div class="container">
            <h1> <%= title %> </h1>
            <p></p>
            <p>Tote bag pickled cardigan echo park, portland keffiyeh fixie bespoke master cleanse pop-up bitters paleo. Green juice chia gochujang farm-to-table. Gochujang craft beer man bun whatever salvia. Microdosing jean shorts skateboard, chartreuse organic swag hashtag meditation kickstarter mumblecore farm-to-table. Flannel celiac marfa beard XOXO, trust fund mlkshk blog pinterest etsy PBR&B pug single-origin coffee roof party. Fixie microdosing dreamcatcher selfies, deep v keytar XOXO you probably haven't heard of them sustainable messenger bag gentrify hammock. Butcher seitan brooklyn artisan, offal vice yr cold-pressed semiotics YOLO pour-over affogato franzen tousled.
</p> <!-- end first p -->

<p>
Occupy deep v chambray sriracha asymmetrical, tilde semiotics tousled. Man braid direct trade normcore waistcoat authentic, small batch cold-pressed mlkshk cliche kale chips neutra paleo pabst leggings cray. Waistcoat skateboard keffiyeh YOLO. Migas wolf heirloom helvetica. Typewriter gluten-free echo park, keytar church-key listicle hoodie put a bird on it swag street art polaroid poutine. Lo-fi small batch distillery post-ironic. Direct trade plaid kombucha hammock, readymade chillwave cred letterpress 90's try-hard banjo tilde bushwick wayfarers.
</p> <!-- end second p -->

<p>
Gentrify truffaut authentic, leggings semiotics craft beer literally humblebrag. Gentrify cardigan cray meditation church-key, shabby chic portland godard helvetica. YOLO yuccie next level schlitz, swag drinking vinegar kogi pitchfork single-origin coffee portland fixie flannel beard vegan celiac. Pop-up flexitarian chartreuse asymmetrical, cold-pressed put a bird on it fingerstache paleo. Waistcoat master cleanse meggings trust fund, etsy wayfarers ugh normcore iPhone. Quinoa hammock master cleanse, flannel ennui asymmetrical cornhole XOXO locavore green juice skateboard schlitz deep v. Vice venmo ramps, aesthetic YOLO try-hard kitsch raw denim salvia retro.
</p> <!-- end third p -->

<p>
Crucifix aesthetic lomo, narwhal messenger bag selvage green juice quinoa trust fund pinterest kombucha craft beer. Pinterest mlkshk intelligentsia kitsch hammock. Yuccie kombucha food truck, direct trade umami sriracha meditation humblebrag ugh hashtag single-origin coffee you probably haven't heard of them tacos truffaut. Thundercats meggings tumblr, etsy yr kogi blue bottle selfies church-key chicharrones street art meh. Hoodie thundercats four dollar toast you probably haven't heard of them, seitan kickstarter hashtag franzen post-ironic gluten-free taxidermy artisan waistcoat kinfolk raw denim. PBR&B raw denim polaroid, freegan affogato green juice ethical vegan try-hard schlitz occupy taxidermy. Freegan lo-fi four dollar toast raw denim before they sold out whatever gluten-free gentrify narwhal, bespoke 3 wolf moon offal sustainable biodiesel.
</p> <!-- end fourth p -->
            <p></p>
            	<p>
                	<a class="btn btn-primary btn-lg">Learn more</a>
            	</p>
        	</div>
   		</div>

	





		<script src=https://code.jquery.com/jquery-2.2.0.js></script>

 		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
 	
		<script src="app.js"></script>

 	</body>

 </html>

 


