
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    

    <title>The Blog</title>

    <!-- Bootstrap core CSS -->
    <link href="../css/bootstrap.css" rel="stylesheet">

    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <link href="../../assets/css/ie10-viewport-bug-workaround.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="../css/style.css" rel="stylesheet">

    </head>

  <body>
	<header>
		<div class="container">
			<div class="row">
				<div class="col-md-6">
					<img class="logo" src="../img/blog_title_jellesed.png" alt="theBlog">
				</div>
				<div class="col-md-6">
	
				</div>
			</div>
		</div>		
	</header>

	<div class="container container-main">
		
		
		<!-- this is including the partial navbar --> 
		<%- include ./partials/navbar.ejs %>

		
		<div class="row">
			<div class="col-md-8">
				<div class="well">

        			<div class="row">
        			<h1> This is my Blog </h1>

		            <p>Tote bag pickled cardigan echo park, portland keffiyeh fixie bespoke master cleanse pop-up bitters paleo. Green juice chia gochujang farm-to-table. Gochujang craft beer man bun whatever salvia. Microdosing jean shorts skateboard, chartreuse organic swag hashtag meditation kickstarter mumblecore farm-to-table. Flannel celiac marfa beard XOXO, trust fund mlkshk blog pinterest etsy PBR&B pug single-origin coffee roof party. Fixie microdosing dreamcatcher selfies, deep v keytar XOXO you probably haven't heard of them sustainable messenger bag gentrify hammock. Butcher seitan brooklyn artisan, offal vice yr cold-pressed semiotics YOLO pour-over affogato franzen tousled.
					</p> <!-- end first p -->
			

					<div class="col-md-8">
					<p>
					Occupy deep v chambray sriracha asymmetrical, tilde semiotics tousled. Man braid direct trade normcore waistcoat authentic, small batch cold-pressed mlkshk cliche kale chips neutra paleo pabst leggings cray. Waistcoat skateboard keffiyeh YOLO. Migas wolf heirloom helvetica. Typewriter gluten-free echo park, keytar church-key listicle hoodie put a bird on it swag street art polaroid poutine. Lo-fi small batch distillery post-ironic. Direct trade plaid kombucha hammock, readymade chillwave cred letterpress 90's try-hard banjo tilde bushwick wayfarers.
					</p> <!-- end second p -->
					</div> <!-- end 2nd col -->
					</div> <!-- end first row -->

					<p>
					Gentrify truffaut authentic, leggings semiotics craft beer literally humblebrag. Gentrify cardigan cray meditation church-key, shabby chic portland godard helvetica. YOLO yuccie next level schlitz, swag drinking vinegar kogi pitchfork single-origin coffee portland fixie flannel beard vegan celiac. Pop-up flexitarian chartreuse asymmetrical, cold-pressed put a bird on it fingerstache paleo. Waistcoat master cleanse meggings trust fund, etsy wayfarers ugh normcore iPhone. Quinoa hammock master cleanse, flannel ennui asymmetrical cornhole XOXO locavore green juice skateboard schlitz deep v. Vice venmo ramps, aesthetic YOLO try-hard kitsch raw denim salvia retro.
					</p> <!-- end third p -->

					<p>
					Crucifix aesthetic lomo, narwhal messenger bag selvage green juice quinoa trust fund pinterest kombucha craft beer. Pinterest mlkshk intelligentsia kitsch hammock. Yuccie kombucha food truck, direct trade umami sriracha meditation humblebrag ugh hashtag single-origin coffee you probably haven't heard of them tacos truffaut. Thundercats meggings tumblr, etsy yr kogi blue bottle selfies church-key chicharrones street art meh. Hoodie thundercats four dollar toast you probably haven't heard of them, seitan kickstarter hashtag franzen post-ironic gluten-free taxidermy artisan waistcoat kinfolk raw denim. PBR&B raw denim polaroid, freegan affogato green juice ethical vegan try-hard schlitz occupy taxidermy. Freegan lo-fi four dollar toast raw denim before they sold out whatever gluten-free gentrify narwhal, bespoke 3 wolf moon offal sustainable biodiesel.
					</p> <!-- end fourth p -->
            
				</div>

			</div>
			<div class="col-md-4">
				<div class="well">
					<h4>Blog Search</h4>
					<div class="input-group">
						<input type="text" class="form-control">
						<span class="input-group-btn">
							<button class="btn btn-default" type="button">
								<span class="glyphicon glyphicon-search"></span>
							</button>
						</span>
					</div>
				</div>

				<div class="well">
					<h4>Categories</h4>
					<div class="row">
						<div class="col-md-6">
							<ul class="list-unstlyed">
								<li><a href="#">Category Name</a>
								</li>
								<li><a href="#">Category Name</a>
								</li>
								<li><a href="#">Category Name</a>
								</li>
								<li><a href="#">Category Name</a>
								</li>
							</ul>
						</div>
						<div class="col-md-6">
							<ul class="list-unstlyed">
								<li><a href="#">Category Name</a>
								</li>
								<li><a href="#">Category Name</a>
								</li>
								<li><a href="#">Category Name</a>
								</li>
								<li><a href="#">Category Name</a>
								</li>
							</ul>
						</div>
					</div>
				</div>
				<div class="well">
					<h4>Sidebar Widget</h4>
					<p>Raw denim salvia readymade, truffaut microdosing pitchfork locavore tumblr bushwick. Semiotics franzen +1, swag kinfolk pabst fanny pack austin four loko. Artisan thundercats fingerstache mixtape. Butcher organic iPhone gluten-free, franzen cornhole sartorial.</p>
				</div>

				

			</div>		
		</div>
	</div>



    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script>window.jQuery || document.write('<script src="../../assets/js/vendor/jquery.min.js"><\/script>')</script>
    <script src="../js/bootstrap.js"></script>
    <script src="../js/main.js"></script>

  </body>
</html>













 


