<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    

    <title>The Blog</title>

    <!-- Bootstrap core CSS -->
    <link href="../css/bootstrap.css" rel="stylesheet">

    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <link href="../../assets/css/ie10-viewport-bug-workaround.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="../css/style.css" rel="stylesheet">

    </head>

  <body>
    <header>
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <img class="logo" src="../img/blog_title_jellesed.png" alt="theBlog">
                </div>
                <div class="col-md-6">
    
                </div>
            </div>
        </div>      
    </header>

    <div class="container container-main">
        
        <!-- this is including the partial navbar --> 
        <%- include('partials/navbar', { active: 'social' }); %>

        
        <div class="row">
            <div class="col-md-8">
                
                    <div class="container">
                        <h3>Search Results </h3>
                        <span id="twitter-card"></span>
                        
                        



                    </div> <!-- closing container div -->            
            </div>

            <div class="col-md-4">
                <div class="well">
                    <h4>Twitter Search</h4>
                    <div class="input-group">
                        <input type="text" class="form-control">
                        <span class="input-group-btn">
                            <button class="btn btn-default" type="button">
                                <span class="glyphicon glyphicon-search"></span>
                            </button>
                        </span>
                    </div>
                </div>

                <div class="well">
                    <h4>Categories</h4>
                    <div class="row">
                        <div class="col-md-6">
                            <ul class="list-unstlyed">
                                <li><a href="#">Category Name</a>
                                </li>
                                <li><a href="#">Category Name</a>
                                </li>
                                <li><a href="#">Category Name</a>
                                </li>
                                <li><a href="#">Category Name</a>
                                </li>
                            </ul>
                        </div>
                        <div class="col-md-6">
                            <ul class="list-unstlyed">
                                <li><a href="#">Category Name</a>
                                </li>
                                <li><a href="#">Category Name</a>
                                </li>
                                <li><a href="#">Category Name</a>
                                </li>
                                <li><a href="#">Category Name</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="well">
                    <h4>Sidebar Widget</h4>
                    <p>Raw denim salvia readymade, truffaut microdosing pitchfork locavore tumblr bushwick. Semiotics franzen +1, swag kinfolk pabst fanny pack austin four loko. Artisan thundercats fingerstache mixtape. Butcher organic iPhone gluten-free, franzen cornhole sartorial.</p>
                </div>

            </div>      
        </div>
    </div>



    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script>window.jQuery || document.write('<script src="../../assets/js/vendor/jquery.min.js"><\/script>')</script>
    <script src="../js/bootstrap.js"></script>
    <script src="../js/main.js"></script>

    <script src="https://fb.me/react-0.13.3.js"></script>
    <script src="https://fb.me/JSXTransformer-0.13.3.js"></script>

    <script  type="text/jsx" src="twitterCard.js"></script>

  </body>
</html>






	
	
        
   		

		



 